<?php

namespace {{ namespace }};

use App\Http\ApiV1\Support\Requests\BaseFormRequest;
{{ uses }}

class {{ className }} extends BaseFormRequest
{
    /**
     * Get the validation rules that apply to the request.
     *
     * @return array
     */
    public function rules(): array
    {
        return [
            {{ rules }}
        ];
    }
}